<html>
<head>
  <title>Write captions for pictures</title>
  <!-- easyturk depends on these libraries -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js'></script>
  <!-- end of required libraries -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
  <style>
    hr {
      border-top: 3px solid rgba(0,0,0);
    }
    #counter {
      margin: 0 10px;
      font-size: 20pt;
      font-weight: bold;
    }
    img {
      height: 600px;
    }
    img.example {
      height: 200px;
    }
    .tasks-container {
      font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
      max-width: 70%;
      margin-top: 15px;
      margin-bottom: 30px;
      padding-top: 5px;
      background-color: #DBDBDB;
    }
    .head-container {
      max-width: 100%;
      background-color: bisque;
      padding: 5px;
      margin-top: 5px;
      box-shadow: 5px 5px 10px rgb(86, 86, 86);
    }
    .image-container {
      max-width: 100%;
      background-color: #F0EAD6;
      padding: 5px;
      margin-top: 5px;
      box-shadow: 5px 5px 10px rgb(86, 86, 86);
    }
    #image-container img {
      box-shadow: 5px 5px 10px rgb(86, 86, 86);
    }
    .question-container {
      margin-top: 15px;
      margin-bottom: 30px;
      padding: 5px;
    }
    .instructions-container {
      margin-top: 15px;
      margin-bottom: 30px;
      background-color: #F0EAD6;
    }
    .btn-primary {
      width: 10rem;
    }
    p {
      font-size: 17px;
      text-align: center;
    }
    li {
        font-size: 22px;
    }
    div {
        font-size: 22px;
    }
  </style>
</head>
<body>

<div class='container tasks-container'>
  <div class='container head-container'>
    <h3>Instruction</h3>
    <h5 id="task-instruction">
      <ul></ul>
    </h5>
  </div>
  <hr/>
  <div>
    <div class='row'>
      <div class='col-12'>
        <div class='image-container'></div>
      </div>
    </div>
    <hr/>
    
    <div class='justify-content-center question-container' style="width:100%;"></div>

    <div class='row justify-content-center' style='margin-top: 10px; padding-bottom: 10px;'>
      
      <button id='prev-btn' class='btn btn-lg btn-primary' disabled>Back</button>
      <div class='col-2' style="text-align: center">
        <span id='counter'>
          <span class='counter-top'></span> / <span class='counter-bottom'></span>
        </span>
      </div>
      <button id='next-btn' class='btn btn-lg btn-primary' disabled>Next</button>
      
    </div>
  </div>
</div>

<!--IMPORTANT: This import contains all the functions you need to read in your input data and send back worker outputs.-->  
{% include "easyturk.html" %}

  <script>
    // Define some default input.
    // It is good practice to define standard inputs for a task which will be overwritten when launching
    // your actual task. The default inputs allow you to render and debug your task locally.
    var DEFAULT_INPUT = [{'fields': ['swap_att'],
  'field_data': [[{'caption': 'A vase sitting on top of a table with flowers in it.',
     'hn_text': 'Flowers sitting on top of a table with a vase in it.',
     'modified': 'top of, in'}]],
  'task instruction': 'Pick the low-quality negative caption for a given image! \nLow-quality negative caption should follow the following rules:\n1. The caption is NOT in the category (correct HN type);\n2. The caption is NOT clearly true negative, try to avoid ambiguous captions (man/woman when it is hard to tell) or subjective attribute (a comfortable chair).\n',
  'filepath': 'https://clip-comp.s3.amazonaws.com/val2017/000000467315.jpg'},
 {'fields': ['swap_ent', 'swap_att'],
  'field_data': [[{'caption': 'A computer on a desk with two monitors ',
     'hn_text': 'Two monitors on a desk with a computer.',
     'modified': 'a computer, two monitors'},
    {'caption': 'A computer desk topped with a laptop computer with two monitors.',
     'hn_text': 'Two monitors topped with a laptop computer on a computer desk.',
     'modified': 'a computer desk, two monitors'}],
   [{'caption': 'Two computer monitors are turned on on a computer desk.',
     'hn_text': 'A computer monitor is turned on on two desks.',
     'modified': 'Two, computer'},
    {'caption': 'A computer on a desk with two monitors ',
     'hn_text': 'A computer on a desk with a monitor.',
     'modified': 'two, a'},
    {'caption': 'A computer desk topped with a laptop computer with two monitors.',
     'hn_text': 'A laptop computer topped with a computer desk with two monitors.',
     'modified': 'computer desk, laptop computer'}]],
  'task instruction': 'Pick the low-quality negative caption for a given image! \nLow-quality negative caption should follow the following rules:\n1. The caption is NOT in the category (correct HN type);\n2. The caption is NOT clearly true negative, try to avoid ambiguous captions (man/woman when it is hard to tell) or subjective attribute (a comfortable chair).\n',
  'filepath': 'https://clip-comp.s3.amazonaws.com/val2017/000000549674.jpg'},
 {'fields': ['swap_ent', 'swap_att'],
  'field_data': [[{'caption': 'Magenta and plaid furniture sit in a brightly lit living room.',
     'hn_text': 'A brightly lit Magenta and plaid living room sit with furniture.',
     'modified': 'Magenta and plaid furniture, living room'}],
   [{'caption': 'A living room filled with furniture and  set of glass doors.',
     'hn_text': 'A living room with a set of glass doors and minimal furniture.',
     'modified': 'filled with furniture, set of glass'},
    {'caption': 'An outdated plaid blue couch sits in the living room.',
     'hn_text': 'A blue plaid couch sits in the living room, looking modern and stylish.',
     'modified': 'outdated, blue'}]],
  'task instruction': 'Pick the low-quality negative caption for a given image! \nLow-quality negative caption should follow the following rules:\n1. The caption is NOT in the category (correct HN type);\n2. The caption is NOT clearly true negative, try to avoid ambiguous captions (man/woman when it is hard to tell) or subjective attribute (a comfortable chair).\n',
  'filepath': 'https://clip-comp.s3.amazonaws.com/val2017/000000344621.jpg'},
 {'fields': ['swap_ent'],
  'field_data': [[{'caption': 'Two kites, one with a smily face fly high in the sunny sky.',
     'hn_text': 'A smily face with a kite flies high in the sunny sky.',
     'modified': 'Two kites, a smily face'}]],
  'task instruction': 'Pick the low-quality negative caption for a given image! \nLow-quality negative caption should follow the following rules:\n1. The caption is NOT in the category (correct HN type);\n2. The caption is NOT clearly true negative, try to avoid ambiguous captions (man/woman when it is hard to tell) or subjective attribute (a comfortable chair).\n',
  'filepath': 'https://clip-comp.s3.amazonaws.com/val2017/000000382743.jpg'},
 {'fields': ['swap_ent', 'swap_att'],
  'field_data': [[{'caption': 'a man wearing an orange shirt holding up a tiny kite',
     'hn_text': 'A tiny man wearing an orange shirt holding up a kite.',
     'modified': 'a man, a tiny kite'}],
   [{'caption': 'A man holding a yellow kite while standing in a room.',
     'hn_text': 'A man standing in a yellow room holding a kite.',
     'modified': 'yellow, in a room'}]],
  'task instruction': 'Pick the low-quality negative caption for a given image! \nLow-quality negative caption should follow the following rules:\n1. The caption is NOT in the category (correct HN type);\n2. The caption is NOT clearly true negative, try to avoid ambiguous captions (man/woman when it is hard to tell) or subjective attribute (a comfortable chair).\n',
  'filepath': 'https://clip-comp.s3.amazonaws.com/val2017/000000357888.jpg'}]

    var input = null;

    // This is where we will be collecting the answers for each image;
    var answers = [];

    // Some variables to track state of the HIT.
    var idx = 0;
    var enabled = false;

    function main() {
      // If this is a HIT on AMT, then replace the default input with the real input.
      input = easyturk.getInput(DEFAULT_INPUT);

      // Enable the task.
      if (!easyturk.isPreview()){
        enableTask();
      }

      // Set up the correct.
      _.each(input, function() { 
        answers.push(null); });

      // Preload all images
      _.each(input, function(input_elem) {
        var imgUrl = input_elem['image'];
        var img = new Image();
        img.onload = function() { console.log('loaded image from ' + imgUrl); };
        img.src = imgUrl;
      });

      render();
    }

    // Use the current index to update the image and description
    function render() {
      // Set up the image
      $('#task-instruction ul').empty();
      input[idx]['task instruction'].split('\n').forEach((item, i) => {
        if (item.trim().length === 0) return;
        $(`<li>${item}</li>`).appendTo('#task-instruction ul')
      })

      let $img_container = $('.image-container');
      $img_container.empty();
      $("<img style='width:60%; height:auto; display:block; margin: 0 auto 0 auto'>").attr('src', input[idx]['filepath']).appendTo($img_container);
      
      let fields = input[idx]['fields']
      let $question_container = $('.question-container');
      $question_container.empty();
      fields.forEach((field, i) => {
        let $container = $(`<div class='image-container' style="margin-bottom:15px;padding:10px"></div>`)
        let $question = $(`<div class='questions'></div>`)

        $(`<h4 display="inline"><strong>${ field }</strong></h4>`).appendTo($question);

        input[idx]['field_data'][i].forEach((ans, j) => {
          if (j !== 0) {
            $(`<hr>`).appendTo($question);
          }
          $(`
            <div class="form-check form-check">
              <input class="form-check-input" type="checkbox" id="q${i}_${j}_ans_t" name="q${i}" value="${j}">
              <label class="form-check-label" for="q${i}_${j}_ans_t" style="margin-right:15px">
                <strong>Positive</strong>: ${ ans['caption'] } <br/> 
                <strong>Negative</strong>: ${ ans['hn_text'] }
              </label> 
            </div>
          `).appendTo($question);
        })

        $question.appendTo($container)
        $container.appendTo($question_container)
      })

      // Refresh the counter
      $('.counter-top').text(idx + 1);
      $('.counter-bottom').text(input.length);

      // If the UI is enabled, enable or disable the buttons depending on
      // the index.
      if (enabled) {
        $('#prev-btn').prop('disabled', false);
        $('#next-btn').prop('disabled', false);
        if (idx == 0) {
          $('#prev-btn').prop('disabled', true);
        }
        if (idx == input.length - 1) {
          $('#next-btn').prop('disabled', true);
        }
      }
    }

    // Update the index, and save the text in the text area.
    function setIdx(newIdx) {
      if (newIdx < 0 || newIdx >= input.length) return;
      idx = newIdx;
      render();
    }

    function saveCaption() {
      let res = []
      let fields = input[idx]['fields']
      for (let i = 0; i < fields.length; i++) {
        let q_ans = []
        $(`input:checkbox[name="q${i}"]:checked`).each(function() {
          q_ans.push($(this).val())
        })
        if (q_ans.length === 0) {
          res.push([-1])
          continue
        }
        res.push(q_ans)
      }
      answers[idx] = res
      return true
    }

    // Enable the UI.
    function enableTask() {
      enabled = true;
      easyturk.setupSubmit();

      // Enable components
      $('#next-btn').click(function() {
          if (saveCaption()) {
            setIdx(idx + 1);
            input[idx]['fields'].forEach((field, i) => {
              answers[idx][i].forEach((ans, j) => {
                $(`input:checkbox[name="q${i}"][value="${ans}"]`).prop('checked', true)
              })
            })
          }
      });
      $('#prev-btn').click(function() {
          if (saveCaption()) {
            setIdx(idx - 1);
            input[idx]['fields'].forEach((field, i) => {
              answers[idx][i].forEach((ans, j) => {
                $(`input:checkbox[name="q${i}"][value="${ans}"]`).prop('checked', true)
              })
            })
          }
      });
      $('#submit-btn').prop('disabled', false);

      $('#submit-btn').click(function() {
        // Make sure to save the last one.
        if (!saveCaption()) {
          return false;
        }
        if (answers.findIndex(e => e === null) !== -1) {
          alert("Please answer all questions before submitting.")
          return false
        }
        // Copy the url and captions to the output we will return to the requester.
        var output = input;
        for (var i = 0; i < output.length; i++) {
          output[i]['answers'] = answers[i];
        }
        if (easyturk.isPreview()) {
          alert("This is only a preview. Here is your output: \n" + JSON.stringify(output));
          return false;
        } else {
          easyturk.setOutput(output);
          return true;
        }
      });
    }

    main();
  </script>
</body>
</html>
